#ready-background {
    background: #808080b8;
    text-align: center;
    z-index: 1;
}

#ready-count {
    font-size: 300px;
    color: white;
    outline: black;
}

#ready-text {
    margin-top: 20px;
    font-size: 40px;
    color: white;
    outline: black;
}

#header-list {
    margin-top: 20px;
}

.header-item {
    /* flex: 1 1 0px; */
    text-align: center;
    font-size: 25px;
}

#pause-btn {
    cursor: pointer;
}

#dot-zone {
    height: 95vh;
    padding: 40px;
}

#dot {
    cursor: pointer;
    border-radius:  50%;
    position: absolute;
}