@import url('../../../assests/css/index.css');

#ready-background {
    height: 100vh;
    background: #80808040;
    width: 100vw;
    text-align: center;
    position: absolute;
    opacity: 0.5;
}

#ready-count{
    font-size: 300px;
    color: white;
}

#ready-text {
    margin-top: 20px;
    font-size: 40px;
    color: white;
}
