@import url('../../../assests/css/index.css');

#ready-background {
    background: #80808040;
    opacity: 0.75;
    text-align: center;
}

#ready-count {
    font-size: 300px;
    color: white;
}

#ready-text {
    margin-top: 20px;
    font-size: 40px;
    color: white;
}
#header-list {
    margin-top: 20px;
}

#dot-number {
    margin-left: 20px;
}

#pause {
    margin-right: 20px;
}