<link rel="stylesheet" href="./assests/css/StartScene.css">
    <div class="menu-background">
        <div id="circle-1" class="cicrle"></div>
        <div id="circle-2" class="cicrle"></div>
        <div id="circle-3" class="cicrle"></div>
        <div id="circle-4" class="cicrle"></div>
        <div id="circle-5" class="cicrle"></div>
    </div>
    <ul class="menu-components">
        <li id="game-title"></li>
    </ul>
<script type="module" src="../objects/scene/GameStartScene.js"></script>
<script type="module" src="./assests/js/GameStart.js"></script>
