<link rel="stylesheet" href="./view/assests/css/PlayScene.css">
<div id="ready-background" class="position-absolut-screen">
    <div id="ready-text" class="stroke">Ready!!!</div>
    <div id="ready-count" class="stroke"></div>
</div>
<div id="play" class="position-absolut-screen">
    <ul id="header-list" class="justify-content-space-between flex-row list-style-none">
        <li id="dot-number">Dot Number: 12</li>
        <li id="time">00:00</li>
        <li id="pause">Pause</li>
    </ul>
    <div id="dot-zone"></div>
</div>
<script type="module" src="../objects/scene/GamePlayScene.js"></script>
<script type="module" src="./view/assests/js/GamePlay.js"></script>